<div class="md-col-8 md-col-offset-2">
  <h2>Quotes page</h2>
  <hr>
  <div class="row">
      <form>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <input id='search' #searchTerm type="text" class="form-control" (keyup)="search(searchTerm.value)" placeholder="Search by word or author...">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <button class="btn btn-popular" [ngClass]="{ 'btn-popular-active':clicked }" type="button" (click)="reorder();changeStyle()">Order by popularity</button>
        </div>
      </form>
  </div>
  <app-quote [quote]='quote' *ngFor='let quote of quotes | filterSearch:term | popular:check'></app-quote>
</div>
