#search {
  border-radius: 4px;
  margin-bottom: 20px;
}

.btn-popular {
  background-color: #FAD7A0;
  margin-bottom:20px;
}

.btn-popular-active {
  background-color: #F39C12;
  margin-bottom:20px;
}
