<div class="row margin">
  <div class="col-md-6 col-sm-6">
    <blockquote class="blockquote">
        <p class="quote-content">{{ quote.content }}</p>
        <footer class='margin quote-author'>{{ quote.author }}</footer>
        <button *ngIf='belongsToUser()' type='button' class='btn btn-primary' (click)='onDelete()'>Delete</button>
    </blockquote>
  </div>
  <div class="col-md-4 col-sm-6 text-left">
      <strong>{{ quote.votes }}</strong>
      <p>votes</p>
      <button type='button' class='btn' (click)='voteUp()'>+1</button>
      <button type='button' class='btn' (click)='voteDown()'>-1</button>
      <p class="user-signature">Posted by {{ quote.username }}</p>
  </div>
</div>
