<div class="row margin">
  <div class="col-md-6">
    <blockquote class="blockquote">
        <p>{{ quote.content }}</p>
        <footer class='margin'>{{ quote.author }}</footer>
        <button type='button' class='btn btn-primary' (click)='onDelete()'>Delete</button>
    </blockquote>
  </div>
  <div class="col-md-4 text-left">
    <div class="row">
      <strong>{{ quote.votes }}</strong>
      <p>votes</p>
      <button type='button' class='btn' (click)='voteUp()'>+1</button>
      <button type='button' class='btn' (click)='voteDown()'>-1</button>
    </div>
  </div>
</div>
